{{ include('simulateur/sidebar.html.twig') }}



{% set choixUtilisateur = app.session.get('logement_type') %}

            <section class="bg-white dark:bg-gray-900">
                <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
                    <a href="#" class="inline-flex justify-between items-center py-1 px-2 pr-4 mb-7 text-md text-blue-800 bg-green-200 rounded-full dark:bg-gray-800 dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700" role="alert">
                         <span class="text-sm font-medium">En 2 minutes !</span> 
                    </a>
                    <h1 class="text-4xl font-extrabold tracking-tight leading-none text-blue-800 md:text-3xl lg:text-4xl dark:text-white mb-5">Calculez vos aides et obtenez votre devis travaux*</h1>
                    <p class="mb-8 text-lg text-blue-800 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400 font-bold">Votre projet concerne : {{choixUtilisateur}}</p>
                </div>
            </section>

            </div>

                <div class="flex items-center justify-center ">
                    <div class="space-y-6 overflow-hidden rounded-lg  bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 text-center mr-5 
                     {% if choixUtilisateur  == 'maison' %} border-4 border-blue-500/75 {% else %} border border-gray-200  {% endif %} ">
                                <a href="{{ url('logement_construction') }}" class="overflow-hidden rounded bg-blue-200" onclick="sauvegarderChoix('maison', 'logement_type', '{{ path('enregistrer_choix_utilisateur') }}')">
                                    <img class="mx-auto h-44 w-44 dark:hidden" src=" {% if choixUtilisateur  == 'maison' %} {{ absolute_url(asset('images/maison_checked.svg')) }} {% else %} {{ absolute_url(asset('images/maison.svg')) }}  {% endif %}" alt="imac image" />
                                </a>
                                <div>
                                <a href="{{ url('logement_construction') }}" class="text-lg font-semibold leading-tight text-blue-800 hover:underline dark:text-white">Maison </a>
                            </div>
                    </div>
                    <div class="space-y-6 overflow-hidden rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 text-center
                     {% if choixUtilisateur  == 'appartement' %} border-4 border-blue-500/75 {% else %} border border-gray-200  {% endif %} ">
                            <a href="{{ url('logement_construction') }}" class="overflow-hidden rounded" onclick="sauvegarderChoix('appartement', 'logement_type','{{ path('enregistrer_choix_utilisateur') }}')">
                                <img class="mx-auto h-44 w-44 dark:hidden" src=" {% if choixUtilisateur  == 'appartement' %} {{ absolute_url(asset('images/appartement_checked.svg')) }} {% else %} {{ absolute_url(asset('images/appartement.svg')) }}  {% endif %}" alt="imac image" />
                            </a>
                            <div>
                                <a href="{{ url('logement_construction') }}" class="text-lg font-semibold leading-tight text-blue-800 hover:underline dark:text-white">Appartement</a>
                            </div>
                    </div>
                </div>


       

          
 <script src="{{ asset('js/custom.js') }}"></script>


